.clsbarrasocial {
  position: fixed;
  top: 40%;
  display: flex;
  left:   0;
  flex-direction: column;
  font-size: 1.5rem;
  align-items: flex-start;
  z-index:   10000;
}

 
/* facebook */
.fa-facebook-square {
  color: white;
  text-decoration: none;
  padding : .7rem;
  display: flex;
  transition: all .5s;
  background: #2E406E;
  border-radius: 0 1rem 0 0;
}
.fa-facebook-square:hover {
  padding-left: 3rem;
  border-radius: 0 1rem 1rem 0;
  box-shadow: 0 0 .5rem rgba(0 , 0, 0, 0.42);
}

/*youtube*/
.fa-youtube-square {
  color: white;
  text-decoration: none;
  padding: .7rem;
  display: flex;
  transition: all .5s;
  background: red;
  border-radius: 0 0 0 0;
}

.fa-youtube-square:hover {
  padding-left: 3rem;
  border-radius: 0 1rem 1rem 0;
  box-shadow: 0 0 .5rem rgba(0 , 0, 0, 0.42);
}


/* E-mail */
.fa-envelope-square{
  color: white;
  text-decoration: none;
  padding: .7rem;
  display: flex;
  transition: all .5s;
  background: #F04637;
  border-radius: 0 0 1rem 0;
}
.fa-envelope-square:hover {
  padding-left: 3rem;
  border-radius: 0 1rem 1rem 0;
  box-shadow: 0 0 .5rem rgba(0  , 0, 0, 0.42);
}





@media screen and (max-width: 770px){
  .clsbarrasocial{
    font-size: 1.2rem;
  }
  .fa-facebook-square{
    padding: .6rem;
    border-radius: 0 .8rem 0 0;
  }
  .fa-envelope-square{
    padding: .6rem;
    border-radius: 0 0 .8rem 0;
  }
  
}
@media screen and (max-width: 600px){
  .clsbarrasocial{
    font-size: .9rem;
  }
  .fa-facebook-square{
    padding: .5rem;
    border-radius: 0 .6rem 0 0;
  }
  .fa-envelope-square{
    padding: .5rem;
    border-radius: 0 0 .6rem 0;
  }
  
}
@media screen and (max-width: 450px){
  .clsbarrasocial{
    font-size: .6rem;
  }
  .fa-facebook-square{
    padding: .4rem;
    border-radius: 0 .4rem 0 0;
  }
  .fa-envelope-square{
    padding: .4rem;
    border-radius: 0 0 .4rem 0;
  }
  
}