.clsmenu2 {
  display: none;
}

.ClsHeader nav {
  background: #EC6900;
  z-index: 1000;
  max-width: 1200px;
  width: 95%;
  margin: 20px auto;
}

.ClsHeader nav ul{
  list-style: none;
}
.ClsHeader nav ul li {
  display: inline-block;
  position: relative;

}

.ClsHeader nav ul li:hover {
  background: #E6344A;
}

.ClsHeader nav ul li a {
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 20px;
  /* font-size: 12px; */

}

.ClsHeader nav ul li a span {
  margin-right: 10px;
}

.ClsHeader nav ul li .hijos {
  display: none;
  background: #011826;
  position: absolute;
  width: 150%;
  z-index: 1000;
}

.ClsHeader nav ul li:hover .hijos {
  display: block;
}

.ClsHeader nav ul li .hijos li {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.ClsHeader nav ul li .hijos li a {
  display: block;
}

.ClsHeader nav ul li .hijos li a span {
  font-size:    4px;
  float: right;
  position: relative;
  top: 3px;
  margin-left: 0;
  margin-right: 10px;
}

.ClsHeader nav ul li .caret {
  position: relative;
  top: 3px;
  margin-left: 10px;
  margin-right: 0;
}

@media screen and (max-width: 1000px) {

body {
  padding-top:  80px;
}

.clsmenu2 {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  background: #E6344A;
  z-index: 1000;
}

.clsmenu2 .clsBt-menu {
  display: block;
  padding: 20px;
  color: #fff;
  overflow: hidden;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

.clsmenu2 span {
  float: right;
  font-size: 40px;
}

.ClsHeader nav {
  display: block;
  width: 80%;
  height: calc(100% - 87px);
  position: fixed;
  right:  100%;
  margin: 0;
  margin-top: 7px;
  overflow: scroll;
}

.ClsHeader nav ul li {
  display: block;
  border-bottom: 1px solid rgba(255, 255  , 255, 0.5);
}

.ClsHeader nav ul li a {
  display: block;
}

.ClsHeader nav ul li .hijos {
  width: 100%;
  position: relative;
}

.ClsHeader nav ul li .hijos li a {
  margin-left: 20px;
}

.ClsHeader nav ul li .caret {
  float: right;
}
.ClsHeader nav ul li:hover .hijos {
  display: none;
}

.ClsHeader figure {
  display: none;
}
}
